data/
logs/
backups/
secrets/

.git/
.gitignore
.gitattributes

.idea/
.vscode/
*.iml

node_modules/
target/
dist/
.mvn/
*.log

README.md
*.md

docker-compose.yml
.dockerignore

services/vite-project/
services/frontend/node_modules/
services/frontend/src/
services/frontend/public/

.env_example
