# === FRONTEND ===
besthackaton.duckdns.org {
    log {
        output file /var/log/caddy/frontend.log
    }
    
    encode gzip
    
    reverse_proxy localhost:8082
}

# === JAVA BACKEND ===
api.besthackaton.duckdns.org {
    log {
        output file /var/log/caddy/java-api.log
    }
    
    encode gzip
    
    reverse_proxy localhost:8080
}

# === GO BACKEND ===
go.besthackaton.duckdns.org {
    log {
        output file /var/log/caddy/go-api.log
    }
    
    encode gzip
    
    reverse_proxy localhost:8081
}

# === ML SERVICE ===
ml.besthackaton.duckdns.org {
    log {
        output file /var/log/caddy/ml-api.log
    }
    
    encode gzip
    
    reverse_proxy localhost:8083
}
