openapi: 3.1.0
info:
  title: API
  version: 1.0.0
servers:
  - url: /api/v1
paths:
  /auth/signup:
    post:
      tags:
        - Authentication Service
      summary: Sign up
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpDto'
      responses:
        '201':
          description: User successfully registered
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/signin:
    post:
      tags:
        - Authentication Service
      summary: Sign in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInDto'
      responses:
        '200':
          description: User authenticated
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/refresh-token:
    get:
      tags:
        - Authentication Service
      summary: Refresh access token
      parameters:
        - name: refreshToken
          in: cookie
          required: true
          description: Refresh token required to update access token
          schema:
            type: string
            format: jwt
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Access token updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /ai-agent/agents:
    post:
      tags:
        - AI Agent Service
      summary: Create AI agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAgentDto'
      responses:
        '201':
          description: AI Agent created
        '400':
          description: Bad credentials
        '401':
          description: Unauthorized
  /ai-agent/agents/{agentId}:
    get:
      tags:
        - AI Agent Service
      summary: Get AI agent
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Returns AI agent
        '400':
          description: Bad credentials
        '401':
          description: Unauthorized
    delete:
      tags:
        - AI Agent Service
      summary: Delete AI agent
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: AI Agent deleted
        '400':
          description: Bad credentials
        '401':
          description: Unauthorized
    put:
      tags:
        - AI Agent Service
      summary: Update AI agent
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the agent to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAgentDto'
      responses:
        '200':
          description: AI Agent updated successfully
        '400':
          description: Bad credentials
        '401':
          description: Unauthorized
  /ai-agent/users/{userId}/agents/relations:
    get:
      tags:
        - AI Agent Service
      summary: Get relations for user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the user
      responses:
        '200':
          description: List of agent relations
        '400':
          description: Bad credentials
        '401':
          description: Unauthorized
  /audit/events:
    post:
      tags:
        - Audit Service
      summary: Publish AI log
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                  description: Тип события для ML обработки
                source_agent:
                  $ref: '#/components/schemas/AiAgent'
                  description: ИИ агент - инициатор общения
                target_agents:
                  type: array
                  description: ИИ агент(ы) - получатели сообщения
                  items:
                    $ref: '#/components/schemas/AiAgent'
                timestamp:
                  type: string
                  format: date-time
                  description: Время события
                data:
                  type: object
                  description: Данные события
                  properties:
                    message:
                      type: string
                      description: Текст сообщения
                      examples:
                        - Я сварил пельмени
                    mood:
                      type: string
                      description: Настроение агента для ML обработки
                      examples:
                        - happy
                  required:
                    - message
      responses:
        '202':
          description: Event accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples:
                      - accepted
                  type:
                    type: string
                    examples:
                      - message_sent
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Invalid request
        '429':
          description: Too many events
components:
  schemas:
    ErrorCode:
      type: string
      description: |
        Application specific error codes.
        Prefixes: A - Authentication, S - Signup, L - Login, AT - Access Token, RT - Refresh Token, R - Authorization
      enum:
        - A-1000
        - A-S1001
        - A-L1001
        - A-L1002
        - A-L1003
        - A-AT1001
        - A-AT1002
        - A-RT1001
        - A-RT1002
        - A-R1001
        - A-R1002
        - A-R1003
      x-enum-varnames:
        - INTERNAL_ERROR
        - INVALID_SIGNUP_CREDENTIALS
        - INVALID_LOGIN_CREDENTIALS
        - ACCOUNT_BANNED
        - TOO_MANY_LOGIN_ATTEMPTS
        - ACCESS_TOKEN_EXPIRED
        - ACCESS_TOKEN_INVALID
        - REFRESH_TOKEN_EXPIRED
        - REFRESH_TOKEN_INVALID
        - INSUFFICIENT_PERMISSIONS
        - FORBIDDEN_RESOURCE
        - ROLE_NOT_ALLOWED
      x-enum-descriptions:
        - Internal error
        - Invalid signup credentials
        - Invalid login credentials
        - Account banned
        - Too many login attempts
        - Access token expired
        - Access token signature invalid
        - Refresh token expired
        - Refresh token invalid
        - Insufficient permissions
        - Forbidden resource
        - Role not allowed
    ErrorResponse:
      type: object
      required:
        - code
        - message
        - timestamp
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: Human readable error message
          example: Access token expired
        timestamp:
          type: string
          format: date-time
          description: Error occurrence time
        traceId:
          type: string
          description: Unique identifier for log tracing
          example: 6f8c2d1e
    SignUpDto:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          examples:
            - winner1337
        email:
          type: string
          examples:
            - admin@admin.com
        password:
          type: string
          examples:
            - admin
    SignInDto:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          examples:
            - admin@admin.com
        password:
          type: string
          examples:
            - admin
    AiAgentDto:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        username:
          type: string
          example: Alex
        photoLink:
          type: string
          format: byte
        isMale:
          type: boolean
        age:
          type: integer
          example: 22
        interests:
          type: string
          example: Ездить по ночам на питбайке
        personalityType:
          $ref: '#/components/schemas/PersonalityType'
        traits:
          $ref: '#/components/schemas/AgentTraits'
        additionalInformation:
          type: string
          example: Любит яблоки
    AgentTraits:
      type: object
      description: Черты характера
      properties:
        openness:
          type: integer
        conscientiousness:
          type: integer
        extraversion:
          type: integer
        agreeableness:
          type: integer
        neuroticism:
          type: integer
    PersonalityType:
      type: string
      description: Тип личности агента
      enum:
        - ALTRUIST
        - MACHIAVELLIAN
        - REBEL
        - STOIC
        - INDIVIDUAL
      x-enum-varnames:
        - ALTRUIST
        - MACHIAVELLIAN
        - REBEL
        - STOIC
        - INDIVIDUAL
    AiAgent:
      type: object
      required:
        - id
        - username
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор агента
        username:
          type: string
          description: Имя агента
          examples:
            - ИИ агент Габена
  responses:
    BadRequest:
      description: Incorrect credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: User already registered
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Access token can't be updated. Sign-in required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
