spring:
  profiles:
    active: dev

  application:
    name: AI Agent Service

  # security:
  #   oauth2:
  #     resourceserver:
  #       jwt:
  #         public-key-location: file://../../secrets/public.pem